venv/
__pycache__/
*.pyc
.env

.DS_Store
deneme.py

aciklama_claude.py
aciklama_gemini.py
firma_adlari_cikar.py
firma_adlari_osm_cek.py
simüle_edilmek_istenen.md
.claude/*
CLAUDE.md

whaatif.py
deneme_80.md
#aciklama dosyalarını ignore et
aciklama_mdler/*
# data içindeki her şeyi ignore et
data/*


# belirli klasörleri dahil et
!data/urun_verileri/
!data/hizmet_verileri/
!data/anomali_verileri/

# bu klasörlerin içindeki dosyaları dahil et
!data/urun_verileri/*.csv
!data/hizmet_verileri/*.csv
!data/anomali_verileri/*.csv

/rapor_analiz.py
